.buttonInEdit {
  margin-right: 10px;
}
input:disabled {
  /* background-color: #fcfcfcfd !important;  */
  color: #000000; /* Màu chữ nhạt */
  border: 1px solid #d0d0d0; /* Viền nhạt */
  cursor: not-allowed; /* Con trỏ không cho phép */
  opacity: 1; /* Đảm bảo độ mờ không bị giảm */
}